/*Global setting*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    
}
/*Global setting*/


.sideBar{
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    position: fixed;
    background-color: #272627;
    height: 100vh;
}

#rightMenu{
    right: 0;
    top: 0;
    width: 20%;
    border-radius: 50px 0 0 50px;
}

#leftMenu{
    left: 0;
    top: 0;
    width: 15%;
}


/*LEFTMENU*/
/*Style for burgerMenu in leftMenu bar */
#burgerMenu{
    position: relative;
    top: 5vh;
    width: 25px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

#burgerMenu{
    cursor: pointer;
    left: 70%;
}


.menuLines, .menuLinesOut{
    width: 100%;
    height: 10%;
}

.menuLines{
    background-color: white;
}

.menuLinesOut{
    background-color: #272627;
}

/*!Style for burgerMenu in leftMenu bar */

/*Circle user photo in leftMenu bar*/
#userPhoto{
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    border-radius: 50%;
    position: relative;
    width: 7vw;
    height: 7vw;
    left:  25%;
    right: 25%;
    top: 15vh;
    background: url(account.png);
    background-size: cover;
    background-position: center;
}
/*!Circle user photo in leftMenu bar*/

/*leftMenu navigation list*/
#leftMenu ul{
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    width: 100%;
    height: 45vh;
    position: relative;
    left: 0;
    top: 20vh;
}

.leftMenuLi{
    cursor: pointer;
    width: 100%;
    height: 15%;
    color: white;
    font-size: 1em;
    padding-left: 20%;
    padding-right: 20%;
    
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20%;
}

.leftMenuLi img{
    width: 16px;
    height: 16px;
}

.leftMenuLi:hover{
    background-color: #3d3d3d;
}
/*!leftMenu navigation list*/

/*Not Visible leftMenu*/

.notVisibleLeft{
    background-color: white;
    transform: translateX(-50%);
}



.notVisibleLine{
    background-color: #272627 !important;

}

.notVisibleElements{
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: none;
}




/*!LEFTMENU*/

/*rightMenu*/
#rightMenu h2{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#rightMenu #inputForm, #listForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
}

#rightMenu #textInputForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    row-gap: 5vh;
    align-items: center;
}

#rightMenu #taskDescription{
    
    height: 8vh;
}

#rightMenu .textInput{
    background-color: #272627;
    border-bottom: #aaaaaa solid 2px;
    border-top: none;
    width: 100%;
    border-left: none;
    border-right: none;
    height: 5vh;
    font-size: 1em;
    outline: none;
}

#rightMenu .textInput:focus{
    color: #dddddd;
    font-size: 1em;
    border-bottom: #aaaaaa solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/*Circle Arrow*/
#rightArrowCircle{
    cursor: pointer;  
    position: absolute;
    border: white solid 2px;
    border-radius: 50%;
    top: 50vh;
    width: 30px;
    height: 30px;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;    
}

#topLine, #bottomLine{
    position: relative;
    width: 55%;
    height: 7%;
    left: 30%;
    background-color: white;
}

#topLine{
    animation: topLineAnimationVisible 0.5s linear forwards;
}

@keyframes topLineAnimationVisible {
    50%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(45deg) translateX(0) translateY(0);}
}

#bottomLine{
    animation: bottomLineAnimationVisible 0.5s linear forwards;
    
}

@keyframes bottomLineAnimationVisible {
    50%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(-45deg) translateX(0) translateY(0);}
}
/*!Circle Arrow*/

#rightMenu #dateInputForm{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 3vh;
    margin-top: 5vh;
    
}

#listForm{
    height: 10vh;
    align-items: flex-start;
}

#inputForm label{
    color: white;
    font-size: 1em;

}

#inputForm select{
    background-color: #555555;
    color: white;
}

fieldset{
    border: none;
    padding-right: 10%;
    padding-left: 20%;
}


#taskComplete{
    margin-top: 3vh;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 8vh;
    
}

input[type=date], input[type=checkbox],#inputForm select, #dateInputForm label, #taskComplete label{
    cursor: pointer;
    
}

#inputForm input[type=checkbox]{
    width: 1.5vw;
    height: 1.5vw;
    /*TODO Dorob checkbox style*/    
}


#inputSubmit{
    position: absolute;
    bottom: 10vh;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputForm input[type=submit]{
    cursor: pointer;
    height: 100%;
    width: 50%;
    border-radius: 20px;    
}

#inputForm input[type=submit]:active{
    background-color: #3d3d3d;
    color: white;
}

/*Not Visible Rifht Menu*/

.notVisibleRight{
    background-color: white;
    transform: translateX(80%);
}

#inputForm.notVisibleElements{
    display: none !important;
}

#rightArrowCircle.notVisibleArrowCircle{
    border-color: #272627;
}

#topLine.notVisibleArrowLine{
    background-color: #272627;
    animation: topLineAnimationNotVisible 0.5s linear forwards;
}

@keyframes topLineAnimationNotVisible {
    50%{transform: rotateZ(0);}
    100%{transform: rotateZ(-45deg) translateX(-2px) translateY(-2px);}
}


#bottomLine.notVisibleArrowLine{
    background-color: #272627;
    animation: bottomLineAnimationNotVisible 0.5s linear forwards;  
}

@keyframes bottomLineAnimationNotVisible {
    50%{transform: rotateZ(0);}
    100%{transform: rotateZ(45deg) translateX(-2px) translateY(2px);}
}
/*!rightMenu*/

/*center Content*/

#centerContent{
    
    position: relative;
    width: 65%;
    left: 15%;
    height: 150vh;
}

#matrix{
    position: absolute;
    top: 20vh;
    left: 30%;
    display: flex;
    row-gap: 0;
    column-gap: 0;
    width: 55%;
    height: 50vh;
    flex-wrap: wrap;
}

.matrixKvadrant{
    position: relative;
    width: 50%;
    height: 50%;
}

#leftTop{
    background-color: rgb(252, 158, 158);
}

#rightTop{
    background-color: rgb(166, 166, 255);
}

#leftBottom{
    background-color: rgb(255, 255, 168);
}

#rightBottom{
    background-color: rgb(164, 255, 164);
}

.matrixSettings{
    cursor: pointer;
    position: absolute;
    right: 5.5%;
    top: 1vh;
    height: 3vh;
    width: 6px;
}
.settingsDot, .settingsDot::after, .settingsDot::before{
    background-color: #3d3d3d;
    position: absolute;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

.settingsDot{
    
    
}



.settingsDot::before{
    content: '';
    
    top: 1vh;  
}

.settingsDot::after{
    content: '';
    
    top: 2vh;
}



.addTaskButton{
    cursor: pointer;
    position: absolute;
    right: 2%;
    bottom: 1vh;
    width: 20px;
    height: 20px;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: #cccccc;
    color: black;
    text-align: center;
    font-weight: 800;
}
/*!center Content*/





