/*
@author Dalibor Kralik
@brief style sheet pre index.html, ktory sluzi pre logovanie userov a create userov

*/
/*Global setting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  scroll-behavior: smooth;
  font-family: "Proza Libre", "Roboto", "Poppins", "Source Sans Pro", "Ubuntu",
    sans-serif;
}

#logForm{
  transition-duration: 2s;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0.4;
  background-color: #ffffff;
}

#loginForm , #registerForm{
  transition-duration: 2s;
  position: fixed;
  width: 40%;

  left: 30%;
  right: 30%;
  background-color: #ffffff;
  opacity: 1;
  z-index: 11;
  border: #696969 solid 2px;
  box-shadow: #ffffff 10px -10px 10px ;
  border-radius: 30px;
}

#loginForm{
  top: 20vh;
}

#registerForm{
  top: 10vh;
}

form {
  color: #202020;
  width: 60%;
  height: 60%;
  margin: 15% 20%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 2vh;
}

form input, form label{
  color: #000000;
  border-radius: 5px;
  line-height: 3vh;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

input[type=submit]{
  margin-top: 3vh;
  width: 50%;
  align-self: center;
  border-radius: 10px;

}


#loginForm svg, #registerForm svg{
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition-duration: 2s;
}

.hide {
    display: none;
    transition-duration: 2s;
}



a{
    text-decoration: none;
}

#navMenu {
  width: 100%;
  min-height: 70px;
  height: 12vh;
  z-index: 2;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#leftNav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
}

#leftNav :nth-child(1) {
  transform: rotateY(180deg);
  width: 10%;
  font-size: 4em;
  font-weight: 600;
}
#leftNav :nth-child(2) {
  transform: rotateY(0deg);
  width: 10%;
  font-size: 4em;
  font-weight: 600;
}

#leftNav :nth-child(3){
    margin-left: 30%;
    width: 40%;
}

#leftNav :nth-child(3) p {
  transform: rotateY(0deg);
  text-align: center;
  color: #202020;
  font-size: 1.25em;
  font-weight: 400;
  width: 100%;
}

#rightNav {
  width: 40%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

#rightNav button{
    cursor: pointer;
    width: 20%;
    min-height: 30px;
    height: 40%;
    border-radius: 25px;
    border: #202020 solid 2px;
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#frontPage {
  position: relative;
  width: 100%;
  min-height: 700px;
  height: 125vh;
  background: linear-gradient(to right bottom, #ae91ff 10%, #ff9191 90%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

#timeCircle {
  position: relative;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #ffffff;
  bottom: 15vh;
  /* left: 10%;
  top: 20vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeCircle svg{
  transform: scale(1);
}

#minutes {
  transform-origin: 80% 95%;
  transform-box: fill-box;
  animation: minute linear 15s forwards infinite;
}

#hours {
  transform-origin: 100% 85%;
  transform-box: fill-box;
  animation: minute linear 90s forwards infinite;

}

@keyframes minute {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#frontNadpis {
  position: relative;
  width: 50vw;
  height: 40vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
  /* top: 40vh;
  right: 8%; */
}

#frontNadpis h1,
#prioritizeNadpis h1 {
  text-align: center;
  font-weight: 200;
}

#frontNadpis h1 {
  font-size: 3.5em;
}

#frontNadpis h1 b,
#prioritizeNadpis h1 b {
  font-size: 1em;
  font-weight: 800;
}

#prioritizeParagraph {
  position: relative;
  width: 100%;
  min-height: 400px;
  height: 110vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10vh;
}

#wave {
  overflow: hidden;
  position: absolute;
  top: -35vh;
  width: 100%;
}

#wave svg {
  width: 100%;
}

#prioritizeNadpis {
  position: relative;
  width: 50%;
  height: 100%;
  color: #202020;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8vh;
}

#prioritizeNadpis h1 {
  font-size: 3em;
}

#login {
  cursor: pointer;
  border: 2px solid black;
  width: 20%;
  min-height: 30px;
  height: 5vh;
  font-size: 1em;
  font-weight: 600;
  color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

#rightPrioritize {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#rightPrioritize img {
  width: 60%;
  z-index: 5;
}

#scheduleParagraph {
  width: 100%;
  min-height: 700px;
  height: 100vh;
  background-color: #c5d9ff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 4;
}

#rightSchedule,
#leftSchedule {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#leftSchedule img {
  width: 50%;
  height: auto;
}

#rightSchedule h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 200;
  padding-bottom: 5vh;
}

li {
  font-size: 1em;
  list-style: none;
  padding-top: 5%;
  text-align: center;
  padding-bottom: 5%;
}

li::before {
  content: "";
  display: inline-block;
  height: 1.5vw;
  width: 1.5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("fajka.png");
  margin-right: 2vw;
}


#lastBottomPart{
  position: relative;
  width: 100%;
  min-height: 600px;
  height: 120vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#lastBottomPart svg{
  position: absolute;
  z-index: -1;
}

#svg1{
  left: 10%;
  top: -30%;
}

#svg2{
  left: 30%;
  top: -38%;

}
#svg3{
  left: 50%;
  top: -25%;
}

#svg4{
  left: 75%;
  top: -25%;

}

#svg5{
  left: 90%;
  top: -20%;
}




#lastBottomPartLeft, #lastBottomPartRight{
  width: 50%;
  height: 100%;
}

#lastBottomPartLeft{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 8vh;

}

#lastBottomPartLeft h1{
  text-align: center;
  font-size: 3.5em;
  font-weight: 200;

}

#lastBottomPartLeft h1 b{
  font-size: 1em;
  font-weight: 800;
}


#lastBottomPartRight img{
  padding-top: 15vh;
  width: 80%;

}

footer{
  position: relative;
  width: 100%;
  min-height: 60px;
  height: 20vh;
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}


#createdBy, #contact{
  display: flex;
  justify-content: center;
}

#createdBy{
  position: absolute;
  left: 25%;
  font-size: 0.7em;
  width: 50%;
  height: 80%;
  align-items: flex-end;
}

footer #leftNav a{
  font-size: 1em;
}

#contact{
  width: 30%;
  height: 100%;
  align-items: center;
}

#contact a{
  text-decoration: none;
  color: #202020;
}

#contact a p{
  font-size: 1.2em;
  cursor: pointer;

}

#errorDiv{
  display: flex;
  color: #ffffff;
  font-size: 1.5em;
  z-index: 20;
  width: 20%;
  height: 13vh;
  background-color: rgb(255, 30, 30);
  border-radius: 15px;
  border: solid 1px #000000;
  bottom: 2vh;
  right: 2%;
  transition-duration: 1s;
  opacity: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
}

#errorDiv.visible{
  transition-duration: 1s;
  opacity: 1;
  display: flex;

}

@media only screen and (max-width: 1400px){
  #timeCircle svg{
    transform: scale(0.8);
  }
  
  @media only screen and (max-width: 1024px){
  #rightNav button{
    width: 35%;
  }

  #timeCircle {
    width: 35vw;
    height: 35vw;
    bottom: 0;

  }

  #frontPage{
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }

  #frontNadpis{
    width: 70vw;
    justify-content: center;
    padding-bottom: 0;
  }

  #wave{
    display: none;
    top: -25vh;
  }

  #rightPrioritize img {
    width: 80%;
    z-index: 5;
  }

  #leftSchedule img {
    width: 70%;
    height: auto;
  }

  #lastBottomPartRight img{
    padding-top: 30vh;
    width: 100%;

  }

  #login {
    width: 30%;
  }

  
  #errorDiv{
    width: 40%;
  }

  #loginForm , #registerForm{
    width: 70%;
    left: 15%;
  }
  
    @media only screen and (max-width: 640px){

      #timeCircle {
        width: 50vw;
        height: 50vw;

      }
      #prioritizeParagraph {
        height: 50vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      #rightPrioritize, #leftSchedule, #lastBottomPartRight{
        display: none;
      }

      #prioritizeNadpis{
        width: 80%;
      }

      #scheduleParagraph{
        flex-direction: column-reverse;
        align-items: center;
        
      }

      #rightSchedule{
        width: 86%;
      }

      li{
        font-size: 1.2em;
      }


      #lastBottomPart{
        flex-direction: column;
        justify-content: center;
      }

      img{
        display: none;
      }

      #rightPrioritize img {

        width: 100%;
        z-index: 5;
      }


      #lastBottomPartRight img{
        padding-top: 0;
      }

      #login {
        width: 50%;
      }

      #svg5{
        display: none;
      }

      #rightNav button{
        width: 40%;
      }


      #leftNav {
        width: 50%;
        padding-left: 10%;
        }

      #rightNav{
        width: 50%;
      }

      #prioritizeNadpis h1 {
        font-size: 2.5em;
      }

      #frontNadpis h1{
        font-size: 2.5em;
      }

      #frontPage{
        height: 85vh;
      }

      #loginForm , #registerForm{
        width: 80%;
        left: 10%;
      }

      #errorDiv{
        width: 60%;
      }
    }
  }
}