/*Global setting*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    overflow: hidden;
    
}
/*Global setting*/


.sideBar{
    position: fixed;
    background-color: #272627;
    height: 100vh;
}

#rightMenu{
    right: 0;
    top: 0;
    width: 20%;
    border-radius: 50px 0 0 50px;
}

#leftMenu{
    left: 0;
    top: 0;
    width: 15%;
}

#centerContet{
    position: relative;
    width: 65%;
    left: 15%;
    height: 100vh;
}

/*LEFTMENU*/
/*Style for burgerMenu in leftMenu bar */
#burgerMenu, #burgerMenuOut{
    position: relative;
    top: 5vh;
    width: 25px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

#burgerMenu{
    left: 70%;
}
#burgerMenuOut{
    display: none;
    left: 10.5%;
}

.menuLines, .menuLinesOut{
    width: 100%;
    height: 10%;
}
.menuLines{
    background-color: white;
}

.menuLinesOut{
    background-color: #272627;
}

/*!Style for burgerMenu in leftMenu bar */

/*Circle user photo in leftMenu bar*/
#userPhoto{
    border-radius: 50%;
    position: relative;
    width: 7vw;
    height: 7vw;
    left:  25%;
    right: 25%;
    top: 15vh;
    background: url(account.png);
    background-size: cover;
    background-position: center;
}
/*!Circle user photo in leftMenu bar*/

/*leftMenu navigation list*/
#leftMenu ul{
    width: 100%;
    height: 45vh;
    position: relative;
    left: 0;
    top: 20vh;
}

.leftMenuLi{
    width: 100%;
    height: 15%;
    color: white;
    font-size: 1em;
    padding-left: 20%;
    padding-right: 20%;

    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20%;
}

.leftMenuLi:hover{
    background-color: #3d3d3d;
}

/*!leftMenu navigation list*/
/*!LEFTMENU*/

/*rightMenu*/
#rightMenu h2{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#rightMenu form{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3vh;
}


#rightMenu .textInput{
    background-color: #272627;
    border-bottom: #aaaaaa solid 2px;
    border-top: none;
    width: 80%;
    border-left: none;
    border-right: none;
    height: 5vh;
    font-size: 1em;
    outline: none;
}

#rightMenu .textInput:focus{
    color: #dddddd;
    font-size: 1em;
    border-bottom: #aaaaaa solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#rightArrowCircle{
    position: relative;
    border: white solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;    
}

#topLine, #bottomLine{
    position: relative;
    width: 55%;
    height: 7%;
    left: 30%;
    background-color: white;
}

#topLine{
    transform: rotateZ(45deg);  
}

#bottomLine{
    transform: rotateZ(-45deg);  
    
}




/*!rightMenu*/





