/*Global setting*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Poppins', 'Source Sans Pro','Ubuntu', sans-serif;
    
}


#loginForm{
    padding-top: 10vh;
    padding-bottom: 20vh;
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
}

form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 5vh;


}

