/*Global setting*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    overflow: hidden;
    font-family: ;
}
/*Global setting*/


.sideBar{
    position: fixed;
    background-color: #272627;
    height: 100vh;
}

#rightMenu{
    right: 0;
    top: 0;
    width: 20%;
    border-radius: 50px 0 0 50px;
}

#leftMenu{
    left: 0;
    top: 0;
    width: 15%;
}

#centerContet{
    position: relative;
    width: 65%;
    left: 15%;
    height: 100vh;
    border: 2px solid red;
}

/*Style for burgerMenu in leftMenu bar */
#burgerMenu, #burgerMenuOut{
    position: relative;
    top: 5vh;
    width: 25px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

#burgerMenu{
    left: 70%;
}
#burgerMenuOut{
    display: none;
    left: 10.5%;
}

.menuLines, .menuLinesOut{
    width: 100%;
    height: 10%;
}
.menuLines{
    background-color: white;
}

.menuLinesOut{
    background-color: #272627;
}

/*Style for burgerMenu in leftMenu bar */

/*Circle user photo in leftMenu bar*/
#userPhoto{
    border-radius: 50%;
    position: relative;
    width: 7vw;
    height: 7vw;
    left:  25%;
    right: 25%;
    top: 15vh;
    background: url(account.png);
    background-size: cover;
    background-position: center;
}
/*Circle user photo in leftMenu bar*/

/*leftMenu navigation list*/
#leftMenu ul{
    width: 100%;
    height: 50vh;
    position: relative;
    left: 0;
    top: 20vh;
}

.leftMenuLi{
    width: 100%;
    height: 15%;
    color: white;
    font-size: 1em;
    padding-left: 20%;
    padding-right: 20%;

    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20%;
}

.leftMenuLi:hover{
    background-color: #3d3d3d;
}

/*leftMenu navigation list*/




